@import "color-variables.css";

.CalendarPickerControlSkin {
    -fx-background-color: -primary-color;
    -fx-background-radius: 20;
}

.CalendarPickerControlSkin .weeknumber {
    -fx-background-color: -primary-color;
    -fx-text-fill: -primary-color;
}

.CalendarPickerControlSkin .weekend,
.CalendarPickerControlSkin .weekday {
    -fx-text-fill: -primary-font-color;
    -fx-padding: 8px 0px 8px 0px;
}

.CalendarPickerControlSkin .day-button {
    -fx-text-fill: -primary-font-color;
    -fx-background-color: -primary-color;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.CalendarPickerControlSkin .day-button:hover{
    -fx-background-color: -hover-accent-color;
}
.CalendarPickerControlSkin .day-button:selected {
    -fx-background-color: -accent-color;
}

.CalendarPickerControlSkin .today {
    -fx-background-color: -hover-primary-color;
    -fx-background-radius: 20;
}

.CalendarPickerControlSkin .today-button {
    -fx-cursor: null;
}

.CalendarPicker .ListSpinner {
    -fx-background-color: none;
    -fx-padding: 30px 20px 0px 0px;
}

.CalendarPicker .ListSpinner:hover {
    -fx-color: none;
}

.ListSpinner .valuePane {
    -fx-padding: 0;
}

.ListSpinner .valuePane .label {
    -fx-text-fill: -primary-font-color;
    -fx-font-size: 15;
    -fx-font-weight: bold;
}

.ListSpinner .left-arrow {
    -fx-shape: "M4,-4 L0,0 L4,4 Z";
    -fx-scale-shape: true;
    -fx-padding: 8;
    -fx-background-color: -primary-font-color;
    -fx-background-insets: 2;
}
.ListSpinner .right-arrow {
    -fx-shape: "M0,-4 L4,0 L0,4 Z";
    -fx-scale-shape: true;
    -fx-padding: 8;
    -fx-background-color: -primary-font-color;
    -fx-background-insets: 2;
}

.ListSpinner .right-arrow:hover,
.ListSpinner .left-arrow:hover {
    -fx-background-color: -accent-color;
}