.root {
    -fx-background-color: -root-color;
    -fx-fill: -primary-font-color;
}

.exit > SVGPath {
    -fx-fill: -primary-font-color;
}

.exit:hover > SVGPath,
.exit:focused > SVGPath,
.exit:selected > SVGPath {
    -fx-fill: -accent-color;
}

.btn {
    -fx-text-fill: -primary-font-color;
    -fx-font-size: 11;
    -fx-background-radius: 20;
    -fx-background-insets: 0;
}

.btn.signup {
    -fx-background-color: -primary-color;
    -fx-text-fill: -color1;
}

.btn.signup:hover{
    -fx-background-color: -primary-color-hover;
}

.btn.login {
    -fx-background-color: -accent-color;
    -fx-text-fill: -color1;
}

.btn.login:hover{
    -fx-background-color: -accent-color-hover;
}

.label{
    -fx-text-fill: -primary-font-color;
}

.vbox {
    -fx-border-width: 1px;
    -fx-border-color: -primary-color;
    -fx-border-radius: 20px;
}

.header {
    -fx-font-family: "Lato-Regular";
    -fx-font-size: 15;
    -fx-font-weight: bold;
    -fx-padding: 17 0 17 30px;
    -fx-background-radius: 20 20 0 0px;
    -fx-background-color: -primary-color;
}

.text-field {
    -fx-background-color: -secondary-color;
    -fx-background-radius: 15;
    -fx-focus-color : transparent;
    -fx-text-fill: -secondary-font-color;
    -fx-padding: 0 17 0 17px;
}
.text-field:hover {
    -fx-background-color: -secondary-color-hover;
}