.close-btn {
    -fx-font-size: 11px;
    -fx-background-radius: 20px;
    -fx-background-color: -accent-color;
    -fx-text-fill: -color1;
    -fx-opacity: 1;
}

.close-btn:hover{
    -fx-font-size: 11px;
    -fx-background-radius: 20px;
    -fx-background-color: -accent-color-hover;
    -fx-text-fill: -primary-font-color;
    -fx-opacity: 1;
}

.label{
    -fx-text-fill: -primary-font-color;
    -fx-opacity: 1;
}

.vbox {
    -fx-background-color: -primary-color-hover;
    -fx-background-radius: 20px;
    -fx-label-padding: 10px;
    -fx-opacity: 0.9;
}