.switch-btn {
    -fx-padding: 0 3 0 3px;
    -fx-background-radius: 30px;
}

.switch-btn:switched-on {
    -fx-background-color: -color4;
    -fx-alignment: CENTER-RIGHT;
}

.switch-btn:switched-off {
    -fx-background-color: -color2;
    -fx-alignment: CENTER-LEFT;
}

.switch-slider {
    -fx-fill: -color1;
}