@import "color-variables.css";

.switch-btn {
    -fx-padding: 0 3 0 3px;
    -fx-background-radius: 30px;
}

.switch-btn:switched-on {
    -fx-background-color: linear-gradient(to right, #ff9405, #ff8600, #ff7800, #ff6800, #ff5702);
    -fx-alignment: CENTER-LEFT;
    -fx-text-alignment: CENTER-RIGHT;
}

.switch-btn:switched-off {
    -fx-background-color: linear-gradient(to right, #3c3f46, #393c42, #36383f, #33353b, #303238);
    -fx-alignment: CENTER-RIGHT;
    -fx-text-alignment: CENTER-LEFT;
}

.switch-slider {
    -fx-fill: -primary-font-color;
}

.switch-btn.label {
    -fx-text-fill: -primary-font-color;
}

.switch-btn:switched-on .label {
    -fx-alignment: CENTER-RIGHT;
}

.switch-btn:switched-off .label {
    -fx-alignment: CENTER-LEFT;
}